.App-main {
  background-color: #282c34;
  min-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

#bodyHome {
  display: flex;
  align-items: center;
  justify-content: center;
}


.buttonMain {
  background-color: rgb(17 140 17 / 78%);
  border: #1e3b2ceb 2px solid;
  width: 11em !important;
  height: 3em;
  border-radius: 17px;
  font-weight: bold;
  color: #ffffffad;
}

.delete {
  background-color: rgb(17 140 17 / 78%);
  border: #1e3b2ceb 2px solid;
  border-radius: 17px;
  color: #ffffffad;
  width: 5em;
  height: 2em;
}

.body {
  display: inline-block;
}

.divInterval {
  margin: 20px 8px 3px 9px;
  background-color: rgb(96, 124, 159);
  border-radius: 10px;
  width: 10vh;
  height: 3vh;
  padding: 5px;
}

.intervaNumbers- {
  color: white;
  font-weight: bold;
}

.interval- {
  font-style: italic;
}

.title {
  color: rgb(26, 93, 26);
  font-size: 25px;
  font-weight: bold;
}

.timesUp {
  color: #d41f1f;
}

.section {
  border: 1px white solid;
  margin: 30px;
  padding: 20px;
}

.describeKey {
  color: #a6a6a6a1;
}

.modalComponent {
  background-color: rgb(255, 255, 255, 0.9);
  border: 2px solid hsl(0, 0%, 50%);
  width: 55vh;
  height: 41vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
}

h3 {
  color: rgb(26, 93, 26);
  margin-top: -16px;
  font-style: italic;
}

.closeModal {
  background-color: rgb(204 21 21 / 72%);
  width: 36px;
  height: 34px;
  color: #ffffffc7;
  font-weight: bold;
  font-size: 19px;
  margin-left: 43vh;
  margin-top: -11px;
  border: none;
  border-radius: 11px;
  cursor: pointer;
}

.bodyModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonAddEvent {
  background-color: rgb(17 140 17 / 78%);
  border: #1e3b2ceb 2px solid;
  width: 11em !important;
  height: 3em;
  border-radius: 17px;
  font-weight: bold;
  color: #ffffffad;
}

.buttonMain:hover,
.buttonAddEvent:hover {
  color: white;
  background-color: rgb(17 140 17);
}

.closeModal:hover {
  font-size: 1em;
  color: white;
  text-decoration: none;
  background-color: rgb(184, 46, 46);
}